body {
  width: 100%;
  height: 100%;
}

.form {
  /* background-color: black; */
  width: 30%;
  height: 50%;
  text-align: center;
  margin: 1% 35%;
}

.image {
  width: 50%;
  height: 30%;
  border-radius: 100%;
}

/* Layout do Olho */
.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  left: 87%;
  top: 56%;
  cursor: pointer;
}

/* Adicionando media query para dispositivos com largura máxima de 768px */
@media only screen and (max-width: 768px) {
  .form {
    width: 100%;
    height: 50%;
    margin: 1% 0;
  }

  .image {
    width: 90%; /* Ajustando tamanho da imagem para dispositivos móveis */
  }

  .toggle-password {
    left: 77%; /* ajustando a posição do ícone de olho */
    top: 50%;
  }
}
